.bank_status {
  font-size: 13px;
}

.bank_status_bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: #fbfbfb;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: #434444;
}

a:visited {
  text-decoration: none;
}

.bank_status_bars-column {
  display: flex;
}

.bank_status_bars-column-down {
  display: flex;
  background-color: white;
  width: 170px;
  height: 25px;
  box-sizing: border-box;
  padding: 0px 5px;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: #434444;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.bank_status_bars-column-certifiaction {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 5px 8px;
  margin-left: 10px;
}

i {
  margin-left: 5px;
  opacity: 0.5;
}

img {
  width: 65px;
  height: 65px;
}

.bank_status_bars-column-login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 30px;
  width: 55px;
  height: 25px;
  border-radius: 3px;
  background-color: #04c584;
  text-align: center;
}

.bank_status_bars-column-service li {
  list-style-type: none;
  float: left;
}

.bank_status_bars-column-login a {
  color: white;
  font-weight: 600;
}

.bank_status_menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 100%;
  height: 58px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.bank_status_bars-column-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  float: left;
  font-size: 100%;
  font-weight: 600;
}

.bank_status_bars-column-menu > li {
  margin: 20px 0px;
  margin-left: 35px;
  padding: 0;
}
.bank_status_bars-column-menu a:hover {
  color: #04c584;
}

.sectionsContainer_1SOlN {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #fbfbfb;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.sectionsContainer_1SOlN ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

.sectionsContainer_1SOlN li {
  margin-bottom: 15px;
  margin-right: 70px;
}

.bank_status_bars-column-menu > li:hover .sectionsContainer_1SOlN {
  opacity: 1;
  visibility: visible;
}
